{%extends 'base.html'%}
{% load i18n %}
{% load bootstrap5 %}

{%block title%}{% trans "Login"%}{%endblock%}


{%block content%}

<br>
<div class="container">
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            {% buttons %}
                <div class="d-grid gap-1">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            {% endbuttons %}
            <input type="hidden" name="next" value="{%url 'hit_list'%}" />
        </form>
    </div>
    <div class="col-md">
    </div>
  </div>
</div>
{%endblock%}